html {
  position: relative;
}

body {
  margin-bottom: 120px;
  margin-top: 30px;
}

.jumbotron {
  background-image: url(../img/8.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: 0 -100px;
  height: 520px;
  color: #eaeaea;
  overflow: hidden;
}

.jumbotron img {
  width: 200px;
  height: 200px;
  border: 5px solid #eaeaea;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.jumbotron h1,
.jumbotron p {
  text-shadow: 1px 2px 3px rgb(0, 0, 0);
  font-weight: bold;
}

hr {
  width: 250px;
  border-top: 3px solid #676767;
}

section {
  min-height: 700px;
}

.pKiri,
.pKanan {
  opacity: 0;
  transform: translate(-50px, 0) rotate(15deg);
  transition: 1s;
}

.pKanan {
  transform: translate(50px, 0) rotate(-15deg);
}

.pKiri.pMuncul,
.pKanan.pMuncul {
  opacity: 1;
  transform: translate(0, 0);
}

.portfolio {
  background-color: #eee;
}

.portfolio .thumbnail {
  opacity: 0;
  transform: translate(0, -40px);
  transition: 0.5s;
}

.portfolio .thumbnail.muncul {
  opacity: 1;
  transform: translate(0, 0);
}

.gallery {
  position: relative;
}

#gallery {
  height: 50px;
}

.overlay {
  width: 0;
  height: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 9999;
  transition: 0.8s ease-in;
  text-align: center;
  padding: 140px 0;
}

.overlay:target {
  width: auto;
  height: auto;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.overlay img {
  max-height: 100%;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
}

.overlay:target img {
  animation: zoomDanFade 1s;
}

.overlay .close {
  position: absolute;
  top: 13%;
  left: 47%;
  right: 47%;
  /* margin-left: -20px; */
  color: white;
  text-decoration: none;
  background-color: black;
  border: 1px solid white;
  line-height: 14px;
  padding: 10px;
  opacity: 0;
  display: block;
}

.overlay:target .close {
  animation: slideDownFade 0.5s 0.5s forwards;
}

/* navigasi */

.overlay:target .next {
  animation: fadeAja 0.5s 0.5s forwards;
}

.overlay:target .prev {
  animation: fadeAja 0.5s 0.5s forwards;
}

.next,
.prev {
  width: 20%;
  height: 20%;
  background-image: url(../img/n.png);
  position: absolute;
  background-repeat: no-repeat;
  text-indent: -9999px;
  top: 40%;
  filter: invert(150%);
  margin-left: 50px;
  opacity: 0;
}

.prev {
  background-image: url(../img/p.png);
  margin-left: -100px;
}

/* For mobile phones: */

@media only screen and (max-width: 800px) {
  .overlay img,
  .next,
  .prev {
    width: 50%;
    top: 30%;
  }
}

@media only screen and (max-width: 800px) {
  .overlay .close {
    left: 45%;
    right: 45%;
  }
}

@media only screen and (max-width: 500px) {
  .overlay img,
  .next,
  .prev {
    top: 23%;
  }
}

@media only screen and (max-width: 500px) {
  .next {
    margin-left: 4%;
  }
}

@media only screen and (max-width: 500px) {
  .prev {
    margin-left: -20%;
  }
}

@keyframes fadeAja {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes zoomDanFade {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1) rotate(360deg);
    opacity: 1;
  }
}

@keyframes slideDownFade {
  0% {
    opacity: 0;
    margin-top: -20px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

footer {
  position: absolute;
  width: 100%;
  height: 120px;
  bottom: 0;
  background-color: #333;
  color: #aaa;
  padding-top: 35px;
}

footer p {
  color: #aaa;
  font-size: 1em;
}
